.product-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    margin: auto 0;
    gap: 10px;

}
.product-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    border: 1px solid #e0e0e0;
    height: 350px;
}